<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <script src="https://kit.fontawesome.com/9152a2c21e.js" crossorigin="anonymous"></script>
</head>
</head>
<body>
    <!-- Container -->
    <div class="conatainer">

        <div class="fixedheader">
            <!-- Header Section -->
            <div class="header">

                <!-- Logo Sectiom -->
                <div class="logo_section">
                    <i id="menu" class="material-icons">menu</i>
                    <img src="logo.png" alt="YouTube logo">
                </div>

                <!-- Middle of header -->
                <div class="middleheader">
                    <!-- Search Section -->
                    <div class="search_section">
                        <form>
                            <input type="text" placeholder="Search">
                            <button>
                                <i class="material-icons">search</i>
                            </button>
                        </form>
                    </div>

                    <!-- Mic Section -->
                    <div class="mic_section">
                        <i class="material-icons">mic</i>
                    </div>
                </div>

                <!-- Icon Section -->
                <div class="icon_section">
                    <i class="material-icons display_this search">search</i>
                    <form action="upload" method="get">
                        <button>
                            <i class="material-icons">videocam</i>
                        </button>
                    </form>

                    <i class="material-icons">apps</i>
                    <i class="material-icons">notifications</i>
                    <a href="/login"><i class="material-icons display_this">account_circle</i></a>
                </div>
            </div>

            <!-- Carousel -->
            <div class="carousel">
                <ul class="carouselslider">
                    <li><button class="btn">All</button></li>
                    <li><button class="btn">Mixed</button></li>
                    <li><button class="btn">Music</button></li>
                    <li><button class="btn">Live</button></li>
                    <li><button class="btn">CSS</button></li>
                    <li><button class="btn">HTML</button></li>
                    <li><button class="btn">Podcasts</button></li>
                    <li><button class="btn">Gaming</button></li>
                    <li><button class="btn">Apple</button></li>
                    <li><button class="btn">Python</button></li>
                    <li><button class="btn">HTML</button></li>
                    <li><button class="btn">Podcasts</button></li>
                    <li><button class="btn">Gaming</button></li>
                    <li><button class="btn">Apple</button></li>
                    <li><button class="btn">HTML</button></li>
                    <li><button class="btn">Podcasts</button></li>
                    <li><button class="btn">Gaming</button></li>
                    <li><button class="btn">Apple</button></li>
                </ul>

            </div>
        </div>

        <!-- Body Section -->
        <div class="main_body">

            <div class="sidebar">

                <!-- Sidebar Section 1 -->
                <div class="sidebar_categories">

                    <div class="sidebar_category">
                        <i class="material-icons">home</i>
                        <span>Home</span>
                    </div>

                    <div class="sidebar_category">
                        <i class="material-icons">local_fire_department</i>
                        <span>Trending</span>
                    </div>

                    <div class="sidebar_category">
                        <i class="material-icons">subscriptions</i>
                        <span>Subscriptions</span>
                    </div>
                </div>

                <hr>

                <!-- Sidebar Section 2 -->
                <div class="sidebar_categories">

                    <div class="sidebar_category">
                        <i class="material-icons">library_add_check</i>
                        <span>Library</span>
                    </div>

                    <div class="sidebar_category">
                        <i class="material-icons">history</i>
                        <span>History</span>
                    </div>

                    <div class="sidebar_category">
                        <i class="material-icons">slideshow</i>
                        <span>Your videos</span>
                    </div>

                    <div class="sidebar_category">
                        <i class="material-icons">watch_later</i>
                        <span>Watch later</span>
                    </div>

                    <div class="sidebar_category">
                        <i class="material-icons">thumb_up</i>
                        <span>Liked videos</video></span>
                    </div>
                </div>

                <hr>

                <!-- Sidebar Section 3 -->
                <div class="sidebar_categories subscriptions">
                    <p>Subscriptions</p>

                    <div class="sidebar_category">
                        <img src="authorlogo.png">
                        <span>
                            <a href="https://www.youtube.com/c/Freecodecamp" target="_blank">freeCodeCamp.org</a>
                        </span>
                    </div>

                    <div class="sidebar_category">
                        <img src="genius.png">
                        <span>
                            <a href="https://www.youtube.com/rapgenius" target="_blank">Genius</a>
                        </span>
                    </div>

                    <div class="sidebar_category">
                        <img src="yestheory.png">
                        <span>
                            <a href="https://www.youtube.com/c/YesTheory" target="_blank">Yes Theory</a>
                        </span>
                    </div>

                    <div class="sidebar_category">
                        <img src="jubilee.png">
                        <span>
                            <a href="https://www.youtube.com/c/jubileemedia" target="_blank">Jubilee</a>
                        </span>
                    </div>

                    <div class="sidebar_category">
                        <img src="ellen.png">
                        <span>
                            <a href="https://www.youtube.com/c/TheEllenShow" target="_blank">TheEllenShow</a>
                        </span>
                    </div>

                    <div class="sidebar_category">
                        <i class="material-icons">keyboard_arrow_down</i>
                        <span>Show 3 more</video></span>
                    </div>

                </div>

                <hr>

                <!-- Sidebar Section 4 -->
                <div class="sidebar_categories">

                    <div class="sidebar_category">
                        <i class="material-icons">settings</i>
                        <span>Settings</span>
                    </div>

                    <div class="sidebar_category">
                        <i class="material-icons">flag</i>
                        <span>Report History</span>
                    </div>

                    <div class="sidebar_category">
                        <i class="material-icons">help_outline</i>
                        <span>Help</span>
                    </div>

                    <div class="sidebar_category">
                        <i class="material-icons">sms_failed</i>
                        <span>Send feedback</span>
                    </div>
                </div>

                <hr>
            </div>

            <!-- Videos Section -->
            <div class="video_section">

                <div class="videos_container">
                    <!-- Video Blocks -->
                    <div class="video">

                        <div class="thumbnail">
                            <img src="tn.png" alt="thumbnail">
                        </div>

                        <div class="vid_details">
                            <div class="author">
                                <img src="authorlogo.png" alt="profile pic">
                            </div>

                            <div class="title">
                                <h3>Learn Python by Thinking in Types - Full Course</h3>
                                <a href="https://www.youtube.com/c/Freecodecamp" target="_blank">freeCodeCamp.org</a>
                                <span>157k views・4 days ago</span>
                            </div>
                        </div>
                    </div>

                    <!-- Video Blocks -->
                    <div class="video">

                        <div class="thumbnail">
                            <img src="thumbnail2.png" alt="thumbnail">
                        </div>

                        <div class="vid_details">
                            <div class="author">
                                <img src="author2.png" alt="profile pic">
                            </div>

                            <div class="title">
                                <h3>macOS Ventura - 14 settings you NEED to change on launch</h3>
                                <a href="#">Andrew Ethan Zeng</a>
                                <span>458k views・2 months ago</span>
                            </div>
                        </div>
                    </div>

                    <!-- Video Blocks -->
                    <div class="video">

                        <div class="thumbnail">
                            <img src="tn3.png" alt="thumbnail">
                        </div>

                        <div class="vid_details">
                            <div class="author">
                                <img src="author3.png" alt="profile pic">
                            </div>

                            <div class="title">
                                <h3>Responsive CSS will never be the same</h3>
                                <a href="#">Wb Dev Simplified</a>
                                <span>10k views・12 days ago</span>
                            </div>
                        </div>
                    </div>

                    <div class="video">

                        <div class="thumbnail">
                            <img src="tn4.png" alt="thumbnail">
                        </div>

                        <div class="vid_details">
                            <div class="author">
                                <img src="author4.png" alt="profile pic">
                            </div>

                            <div class="title">
                                <h3>[FREE EXCEL COURSE] Lesson 5 - Managing Workesheets in Excel</h3>
                                <a href="#">Trump Excel</a>
                                <span>92k views・3 years ago</span>
                            </div>
                        </div>
                    </div>

                    <div class="video">

                        <div class="thumbnail">
                            <img src="tn5.png" alt="thumbnail">
                        </div>

                        <div class="vid_details">
                            <div class="author">
                                <img src="author5.png" alt="profile pic">
                            </div>

                            <div class="title">
                                <h3>Teach my 11 year old son HTML & CSS</h3>
                                <a href="#">Kevin Powell</a>
                                <span>167k views・3 weeks ago</span>
                            </div>
                        </div>
                    </div>

                    <!-- Video Blocks -->
                    <div class="video">

                        <div class="thumbnail">
                            <img src="tn6.png" alt="thumbnail">
                        </div>

                        <div class="vid_details">
                            <div class="author">
                                <img src="author6.png" alt="profile pic">
                            </div>

                            <div class="title">
                                <h3>30 Mac/MacOS Getting Started Tips</h3>
                                <a href="#">9to5Mac</a>
                                <span>2.1M views・1 year ago</span>
                            </div>
                        </div>
                    </div>

                    <!-- Video Blocks -->
                    <div class="video">

                        <div class="thumbnail">
                            <img src="tn7.png" alt="thumbnail">
                        </div>

                        <div class="vid_details">
                            <div class="author">
                                <img src="author7.png" alt="profile pic">
                            </div>

                            <div class="title">
                                <h3>My Ultimate Leetcode Tricks</h3>
                                <a href="#">PIRATE KING</a>
                                <span>136k views・3 weeks ago</span>
                            </div>
                        </div>
                    </div>

                    <!-- Video Blocks -->
                    <div class="video">

                        <div class="thumbnail">
                            <img src="tn8.png" alt="thumbnail">
                        </div>

                        <div class="vid_details">
                            <div class="author">
                                <img src="authorlogo.png" alt="profile pic">
                            </div>

                            <div class="title">
                                <h3>Java Programming for Beginners - Full Course</h3>
                                <a href="#">freeCodeCamp.org</a>
                                <span>136k views・1 month ago</span>
                            </div>
                        </div>
                    </div>

            
                <!-- Upload Video -->
                <% videos.forEach(entries => { %>

                
                    <div class="video">

                        <form action="view/:<%=entries._id%>" method="get">
                            <button class="view-btn">
                                <div class="thumbnail">
                                    <img src=<%=entries.thumbnail%> alt="thumbnail">
                                </div>
                            </button>
                        </form>

                        <div class="vid_details">
                            <div class="author">
                                <img src="author2.png" alt="profile pic">
                            </div>

                            <div class="title">
                                <h3><%= entries.title %> </h3>
                                <a href="#">Elissa</a>
                                <span><%= entries.views%></span>
                            </div>
                        </div>
                    
                    </div>

                <% }) %>
            
            </div>
        </div>

        <div class="bottom-menu">
            <div class="bottom-category">
                <div class="sidebar_category">
                    <i class="material-icons">home</i>
                </div>
    
                <div class="sidebar_category">
                    <i class="material-icons">local_fire_department</i>
                </div>
    
                <div class="sidebar_category">
                    <form action="upload" method="get">
                        <button>
                            <i class="material-icons">videocam</i>
                        </button>
                    </form>
                </div>

                <div class="sidebar_category">
                    <i class="material-icons">subscriptions</i>
                </div>

                <div class="sidebar_category">
                    <i class="material-icons">library_add_check</i>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>

    <script type="text/javascript" 
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <script type="text/javascript">

        $('.carouselslider').slick({
            infinite: false,
            speed: 300,
            slidesToShow: 12,
            slidesToScroll: 11,
            arrows: true,
            nextArrow: '<i class="fa-solid fa-arrow-right nextArrowBtn"></i>',
            prevArrow: '<i class="fa-solid fa-arrow-left prevArrowBtn"></i>'
        });
    </script>

    <script>
        const menu = document.querySelector('#menu');

        const sidebar = document.querySelector('.sidebar');

        menu.onclick = function(){
            sidebar.classList.toggle("small-sidebar");
        }

    </script>

</body>
</html>